.kreis {
  position: absolute;
  right: 140px;
  top: 80px;
}

.hidden {
  visibility: hidden;
}
.modal {
  transition: all 0.3s ease;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background: white;
  border-radius: 10px;
  width: 400px;
  height: 100px;
  box-shadow: 0 19px 38px rgba(0, 0, 0, 0.3), 0 15px 12px rgba(0, 0, 0, 0.22);
}

.modal-header {
  color: #364f6b;
  font-size: large;
  height: 50px;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
}

.modal-actions {
  width: 100%;
  height: 50px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.btn {
  background: none;
  margin: 0 5px;
  border-radius: 10px;
  padding: 5px 15px;
}

.btn-yes {
  color: #43dde6;
  border: 2px solid #43dde6;
}

.btn-no {
  color: #fc5185;
  border: 2px solid #fc5185;
}

.btn-yes:hover {
  background: #43dde6;
  color: #f0f0f0;
}

.btn-no:hover {
  background: #fc5185;
  color: #f0f0f0;
}

.close {
  cursor: pointer;
  position: absolute;
  font-size: 2rem;
  transition: all 0.3 ease;
  transform: rotateZ(45deg);
  top: 0px;
  right: 15px;
}
.close:hover {
  transform: scale(1.3) rotateZ(45deg);
}

@keyframes modalAn {
  from {
    top: 70%;
    transform: translate(-50%, -50%);
  }
  to {
    top: 50%;
    transform: translate(-50%, -50%);
  }
}
